<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>어휘의 숲 아이디 찾기</title>
    <link rel="stylesheet" href="/css/find-email.css" />
</head>
<body>
    <div class="wrapper">
        <div class="find-container">
            <form th:action="@{/find-email}" method="post">
                <h1>아이디(이메일) 찾기</h1>
                <div class="form-group">
                    <label>이름</label>
                    <input type="text" name="name" placeholder="이름을 입력하세요." />
                </div>

                <div class="form-group">
                    <label>생년월일</label>
                    <div class="birth-row">
                        <select name="birthYear">
                            <option>년도</option>
                        </select>
                        <select name="birthMonth">
                            <option>월</option>
                        </select>
                        <select name="birthDay">
                            <option>일</option>
                        </select>
                    </div>
                </div>

                <button class="submit-btn">찾기</button>
            </form>
        </div>

        <div class="result-container">
            <div class="result">
                <span class="result-name">홍길동</span><span class="row">님의 아이디는</span>
            </div>
            <div class="result">
                <span class="result-email">woori8806@naver.com</span>
            </div>
            <div class="result">
                <span class="row">입니다.</span>
            </div>
            <div class="btn-div">
                <button class="password-btn" th:onclick="|location.href='@{/find-password}'|">비밀번호 찾기</button>
                <button class="submit-btn submit-btn1" th:onclick="|location.href='@{/login}'|">로그인하기</button>
            </div>
        </div>

    </div>

    <div th:if="${error}">
        <script th:inline="javascript">
      alert([[${error}]]);
    </script>
    </div>

    <script src="/js/find-email.js"></script>
</body>
</html>